.bodycontainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.first{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 100px;
    margin-left: 100px;
}

.firstcontainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.maintext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text{
    font-size: 18px;
    color: #F9FAF8;
}

.innerfc {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 400px;
    gap: 16px;
}

button{
    max-width: 90px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px;
}


li, a {
    display: inline-block;
    margin: 4px;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.second{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.secondcontainer{
    align-items: center;
}

.secondtitle{
    font-size: 36px;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}

.imgcontainer{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

}

.third{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;

}


img{
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.mainp img{
    width: 350px;
    height: auto;
    margin: 24px;
}